<div class="container">

<h2>LISTADO DE ESTUDIANTES</h2>
<a class="btn btn-primary" routerLink="/estudiantes/add" >Crear Estudiante</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TIPO DE DOCUMENTO</th>
        <th scope="col">NUMERO DE IDENTIDAD</th>
        <th scope="col">NOMBRES</th>
        <th scope="col">APELLIDOS</th>
        <th scope="col">FECHA DE NACIMIENTO</th>
        <th scope="col">EDAD</th>
        <th scope="col">GRADO</th>
        <th scope="col">EMAIL</th>
        <th scope="col">TELEFONO FIJO</th>
        <th scope="col">CELULAR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of estudiantes ">
        <th scope="row">{{e.id}}</th>
        <td>{{e.tipoDocumento}}</td>
        <td>{{e.numeroIdentidad}}</td>
        <td>{{e.nombres}}</td>
        <td>{{e.apellidos}}</td>
        <td>{{e.fechaNacimiento}}</td>
        <td>{{e.edad}}</td>
        <td>{{e.grado}}</td>
        <td>{{e.email}}</td>
        <td>{{e.telefonoFijo}}</td>
        <td>{{e.celular}}</td>
        <td> <button class="btn btn-danger" (click)="deleteStudent(e.id)" >ELIMINAR</button> </td>
      </tr>
    </tbody>
  </table>
</div>